obj/Debug/net10.0/APIIntegration.AssemblyInfo.cs
obj/Debug/net10.0/APIIntegration.AssemblyInfoInputs.cache
obj/Debug/net10.0/APIIntegration.assets.cache
obj/Debug/net10.0/APIIntegration.GeneratedMSBuildEditorConfig.editorconfig
