# Visual Studio
.vs/
*.user
*.suo

# Build output
bin/
obj/

# Temp backup files
*.tmp
*.~*

# Rider / JetBrains
.idea/

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
project.lock.json
*.nuget.props
*.nuget.targets


*.db
*.sqlite
localMessages.db
test_messages.db
